<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    {{ partial "head" . }}
<body>
{{ partial "site-header" . }}
{{ block "main" . }}
{{ end }}
{{ partial "site-footer" . }}
<script src="{{ .Site.BaseURL }}{{ index .Site.Data.assets "js.js" }}"></script>
</body>
</html>
