

@mixin font-size-small {
    font-size: 12px;
}

@mixin font-size-medium {
    font-size: 16px;
}

@mixin font-size-large {
    font-size: 24px;
}

@mixin font-size-x-large {
    font-size: 32px;
}

@mixin font-size-xx-large {
    font-size: 48px;
}

@mixin font-size-xxx-large {
    font-size: 96px;
}
