<div class="breakpoint-helper">extra small</div>
<div class="breakpoint-helper small">small</div>
<div class="breakpoint-helper medium">medium</div>
<div class="breakpoint-helper large">large</div>
<div class="breakpoint-helper xlarge">extra large</div>