{{ if .Params.categories }}
<strong>Categor{{ if gt (len .Params.categories) 1 }}ies{{ else }}y{{ end }}:</strong>
{{ range $index, $element := .Params.categories }}{{ if gt $index 0 }}, {{ end }}<a href="{{ "categories/" | relURL }}{{ . | urlize }}">{{ . }}</a>{{ end }}
{{ end }}