<script async src="https://www.googletagmanager.com/gtag/js?id=UA-337527-3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-337527-3');
</script>