<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ if .Params.title }}{{ .Params.title }} &mdash; {{ end }}{{ .Site.Title }}</title>
    <meta name="description" content="{{ index .Params " description " | default .Site.Params.description }}">
    {{ partial "google-analytics" }}
    <!--[if lte IE 8]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.min.js" integrity="sha256-p0y9B7cfcYrdT+h+HUJPb3lMTObZc9x1DSTPN5ikmhg=" crossorigin="anonymous"></script><![endif]-->
    <link rel="stylesheet" href="{{ .Site.BaseURL }}{{ index .Site.Data.assets " css.css " }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0="
        crossorigin="anonymous" />
    <!--[if lte IE 9]><link rel="stylesheet" href="{{ "css/ie9.css" | absURL }}"" /><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="{{ "css/ie8.css" | absURL }}" /><![endif]-->
    <link rel="stylesheet" href="{{ .Site.BaseURL }}{{ index .Site.Data.assets "css.css" }}">
</head>