<footer class="container site-footer py-3">
    <div class="row">
        <div class="col-6 col-md-3">
            <h6 class="mt-3"></h6>
            <ul>
                <li>
                    <a href="/"></a>
                </li>
            </ul>
        </div>
        <div class="col-6 col-md-3">
            <h6 class="mt-3"></h6>
            <ul>
                <li>
                    <a href="/"></a>
                </li>
            </ul>
        </div>

        <div class="col-6 col-md-3">
            <h6 class="mt-3"></h6>
            <ul>
                <li>
                    <a href="/"></a>
                </li>
            </ul>
        </div>

        <div class="col-6 col-md-3">
            <h6 class="mt-3"></h6>
            <ul>
                <li>
                    <a href="/"></a>
                </li>
            </ul>
        </div>

    </div>

    <div class="row mt-3">
        <div class="col-12">
            <p class="d-flex flex-wrap">
                <a class="mr-4" href="/privacy">Privacy Policy</a>
                <a class="mr-4" href="/cookies">Cookies</a>
                <a class="mr-4" href="/about">About</a>
                <a class="mr-4" href="/contact">Contact Us</a>
            </p>
            <p class="theme-color-2-fg">© 2018 {{ .Site.Title }}</p>
        </div>
    </div>
</footer>