{{ if .Params.tags }}
<strong>Tag{{ if gt (len .Params.tags) 1 }}s{{ end }}:</strong>
{{ range $index, $element := .Params.tags }}{{ if gt $index 0 }}, {{ end }}<a href="{{ "tags/" | relURL }}{{ . | urlize }}">{{ . }}</a>{{ end }}
{{ end }}