{{ if .Params.twitterUsername }}
<a class="twitter-timeline" href="https://twitter.com/{{ .Params.twitterUsername }}?ref_src=twsrc%5Etfw">Tweets by {{ .Params.twitterUsername }}</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
{{ end }}