<a href="https://twitter.com/[twitter handle goes here]?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>