ol.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #eee;

    li {
        display: inline;
        font-size: 18px;

        a {
            color: #0275d8;
            text-decoration: none;
        }

        a:hover {
            color: #01447e;
            text-decoration: underline;
        }
    }

    li+li:before {
        padding: 8px;
        color: black;
        content: "/\00a0";
    }
    
}
