
.breakpoint-helper {
    display: inline-block;
    background-color: yellow;
    @include media-breakpoint-up(sm) {
        display: none;
    }

    &.small {
        display: none;
        @include media-breakpoint-up(sm) {
            display: inline-block;
        }
        @include media-breakpoint-up(md) {
            display: none;
        }
    }

    &.medium {
        display: none;
        @include media-breakpoint-up(md) {
            display: inline-block;
        }
        @include media-breakpoint-up(lg) {
            display: none;
        }
    }

    &.large {
        display: none;
        @include media-breakpoint-up(lg) {
            display: inline-block;
        }
        @include media-breakpoint-up(xl) {
            display: none;
        }
    }

    &.xlarge {
        display: none;
        @include media-breakpoint-up(xl) {
            display: inline-block;
        }
    }
}

