.logo {
    font-family: Rochester; 
    font-weight: 800; 
    font-size: 24px;
    font-style: normal; 
    margin: 0;
    line-height: initial;
    color: $theme-color-darkgray;

    @include media-breakpoint-up(lg) {
        font-size: 28px;
    }
}

.logo:hover {
    text-decoration: none;
}
