.products {
    display: flex;
    /* Make products flex in row direction (default) */
    flex-wrap: wrap;
    /* Make products overflow on new row */
    justify-content: center;
    /* Or space-between or space-around */
}

.products>section {
    flex: 1 1 0;
    /* Prevent the extra space around content */
    text-align: center;
    /* Align text on center */
    display: flex;
    /* Display as flex */
    flex-direction: column;
    /* Display flex in column */
    align-items: center;
    /* Align items on center */
    max-width: 30rem;
    /* Set max-width so the last items will behave in a more traditional way */
    min-width: 20rem;    
}

.products-item-card {
    background-color: #FFF;
    // box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.25);
    font-size: 14px;
    width: 100%;
    max-width: 24rem;
    margin-bottom: 1.5rem;
    padding: 1rem;
    position: relative;
}

// .products-item-card .btn-primary {
//     position: absolute;
//     bottom: 0;
// }

.products-item-card img {
    position: relative;
    float: left;
    max-width:  20rem;
    max-height: 20rem;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
}

.products-item-card-description {
    display: block;
    position: relative;
    height: 5rem;
    overflow: hidden;
    text-align: justify;
}

.products-item-card-footer {
    display: block;
}