.site-footer {
    color: $theme-color-2;
    font-family: Helvetica,Roboto,Arial,sans-serif;
    font-size: 0.9rem;
}

.site-footer a {
    color: $theme-color-2;
    font-weight: 100;
}

.site-footer h6 {
    font-weight: 700;
}