
.site-main {
    background-color: $theme-color-white;
    padding-bottom: 8rem;
    min-height: 35rem;

    &.site-main--plugin .content {
        ul {
            list-style-type: disc;
            list-style-position: inside;
        }
    }

    &.site-main--plugin .features {
        ul {
            list-style-type: disc;
            list-style-position: inside;
        }
    }
}
