
.slideshow-container {
    display: inline-block;
    width: 100%;
    margin: 0;
}

.slideshow {
    max-width: 40rem;
    height: 20rem;
    display: block;
    margin: auto;
    position: relative;
}

.slideshow-image {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}

// .slideshow-action-left, .slideshow-action-right {
//     position: absolute;
//     top: 50%;
//     transform: translate(0%,-50%);
//     cursor: pointer;
//     font-size: 22px;
//     opacity: 0.7;
//     border: 0;
//     background-color: #bbb;
//     &:hover {
//         opacity: 0.9;
//     }
// }
// .slideshow-action-left {
//     left: -2rem;
// }

// .slideshow-action-right {
//     right: -2rem;
// }

.slideshow-actions {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.slideshow-action-left, .slideshow-action-right {
    cursor: pointer;
    margin: 0.5rem;
    font-size: 22px;
    opacity: 0.7;
    border: 0;
    background-color: #bbb;
    &:hover {
        opacity: 0.9;
    }
}

