
$theme-color-white: #fff;
$theme-color-black: #000;
$theme-color-lightgray: #eee;
$theme-color-gray: #ccc;
$theme-color-darkergray: #777;
$theme-color-darkgray: #555;
$theme-color-darkestgray: #333;

@mixin colors($name, $color) {
    .#{$name}-fg {
        color: $color;
    }
    .#{$name}-bg {
        background-color: $color;
    }
}

@include colors('theme-color-white', $theme-color-white);
@include colors('theme-color-black', $theme-color-black);
@include colors('theme-color-lightgray', $theme-color-lightgray);
@include colors('theme-color-darkergray', $theme-color-darkergray);
@include colors('theme-color-darkgray', $theme-color-darkgray);

@import './color-theme-01';
