@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic);

blockquote{
//   font-size: 1.4em;
//   width:60%;
//   margin:50px auto;

    font-family: Open Sans;
    font-style: italic;
    color: $theme-color-darkgray;
    border-left: 4px solid $theme-color-gray;
    line-height: 1.6;
    position: relative;
    padding: 0.9rem 0rem 1rem 1.9rem;

    @include media-breakpoint-up(sm) {
        border-left: 6px solid $theme-color-gray;
        padding: 1.5rem 0rem 1.1rem 2.4rem;
    }

    @include media-breakpoint-up(md) {
        padding: 1.5rem 0rem 1.1rem 2.4rem;
    }
    
}

blockquote::before{
    font-family: Arial;
    content: "\201C";
    color: $theme-color-gray;
    position: absolute;
    left: 10px;
    top: -10px;
    font-size: 2.5em;

    @include media-breakpoint-up(sm) {
        font-size: 3em;
    }

    @include media-breakpoint-up(md) {
        font-size: 3.5em;
    }
}

blockquote::after{
    content: '';
}

blockquote span{
    display: block;
    color: $theme-color-darkestgray;
    font-style: normal;
    font-weight: bold;
    margin-top: 1em;
}