
h1 {
    font-size: 1.5rem;
    @include media-breakpoint-up(sm) {
        font-size: 2.0rem;
    }
    @include media-breakpoint-up(lg) {
        font-size: 2.2rem;
    }
}

h2 {
    font-size: 1.4rem;
    @include media-breakpoint-up(sm) {
        font-size: 1.8rem;
    }
    @include media-breakpoint-up(lg) {
        font-size: 2.1rem;
    }
}

h3 {
    font-size: 1.3rem;
    @include media-breakpoint-up(sm) {
        font-size: 1.7rem;
    }
    @include media-breakpoint-up(lg) {
        font-size: 2.0rem;
    }
}

h4 {
    font-size: 1.2rem;
    @include media-breakpoint-up(sm) {
        font-size: 1.6rem;
    }
    @include media-breakpoint-up(lg) {
        font-size: 1.9rem;
    }
}

h5 {
    font-size: 1.1rem;
    @include media-breakpoint-up(sm) {
        font-size: 1.5rem;
    }
    @include media-breakpoint-up(lg) {
        font-size: 1.7rem;
    }
}

h6 {
    font-size: 1.0rem;
    @include media-breakpoint-up(sm) {
        font-size: 1.4rem;
    }
    @include media-breakpoint-up(lg) {
        font-size: 1.5rem;
    }
}

